### Importar librería

In [3]:
import pandas as pd

### Crear serie

In [ ]:
psg_players = pd.Series(['Navas','Mbappe','Neymar','Messi'],
          index=[1,7,10,30]
          )

In [ ]:
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [ ]:
psg_players = pd.Series(['Navas','Mbappe','Neymar','Messi']
          )

In [ ]:
dict = {1:'Navas',7:'Mbappe',10:'Neymar',30:'Messi'}
pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [ ]:
psg_players[0:3]

0     Navas
1    Mbappe
2    Neymar
dtype: object

### Crear DataFrame

In [1]:
dict = {'Jugador':['Luis Suárez','Jorge Molina', 'Antonio Puertas', 'Germán Sánchez', 'Luis Milla', 'Luís Manuel Arantes Maximiano'],

'Posición':['Delantero', 'Delantero', 'Centrocampista', 'Defensa', 'Centrocampista', 'Portero'],

'Número':[9, 23, 10, 6, 5, 1],

'Altura':[185.0, 187.0, 185.0, 187.0, 175.0, 190.0],

'Goles':[7, 7, 5, 2, 2, 0],
 }

In [6]:
df_Players = pd.DataFrame(dict,index=[9, 23, 10, 6, 5, 1])
df_Players

                          Jugador        Posición  Número  Altura  Goles
9                     Luis Suárez       Delantero       9   185.0      7
23                   Jorge Molina       Delantero      23   187.0      7
10                Antonio Puertas  Centrocampista      10   185.0      5
6                  Germán Sánchez         Defensa       6   187.0      2
5                      Luis Milla  Centrocampista       5   175.0      2
1   Luís Manuel Arantes Maximiano         Portero       1   190.0      0

In [ ]:
df_Players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [ ]:
df_Players.index

Int64Index([1, 7, 10, 30], dtype='int64')